*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Fira Sans", serif;
  background-color: #F1F1F3;
}
/* Header */
header{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
/* Nav */
nav{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav button{
  border: 1px solid #006A50;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: #006A50;
  cursor: pointer;
}
/* Banner */
.banner{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: #C6E4D6;
  border-radius: 16px;
  padding: 50px 40px;
  margin: 10px 0 20px;
}
.banner_content p{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #0E0E0E;
  opacity: 70%;
}
.banner_content h2{
  font-size: 50px;
}
.banner_content button{
  background-color: #006A50;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}
/* Main */
main{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
/* Pillars Section */
.pillars_section{
  margin: 40px 0;
}
.pillars_section h2{
  font-size: 28px;
  margin-bottom: 20px;
}
.pillars_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.pillars_content div{
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
}
.pillars_content div img{
  margin-bottom: 10px;
}
.pillars_content div h3{
  color: #0E0E0E;
  opacity: 80%;
}
.pillars_content div h3{
  margin-bottom: 10px;
}
.pillars_content div p{
  opacity: 80%;
}
/* Vision Section */
.vision_section{
  margin-bottom: 40px;
}
.vision_section h2{
  font-size: 28px;
  margin-bottom: 14px;
}
.vision_section > p{
  margin-bottom: 15px;
}
.vision_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.vision_card div{
  padding: 20px;
  border-radius: 16px;
}
.vision_card1{
  background-color: #d5e1f5;
}
.vision_card1 button{
  background-color: #5490F5;
}
.vision_card2{
  background-color: #C6E4D6;
}
.vision_card2 button{
  background-color: #09A15C;
}
.vision_card3{
  background-color: #F7EBCF;
}
.vision_card3 button{
  background-color: #FFC239;
}
.vision_card img{
  margin-bottom: 15px;
}
.vision_card h3{
  margin-bottom: 10px;
}
.vision_card p{
  margin-bottom: 15px;
}
.vision_card button{
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
/* Recent News */
.recent_news{
  margin-bottom: 40px;
}
.recent_news > h2{
  margin-bottom: 15px;
  font-size: 28px;
}
.recent_news > p{
  margin-bottom: 30px;
}
.recent_news_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
}
.recent_news_card_content h2{
  margin-bottom: 10px;
  font-size: 24px;
  opacity: 90%;
}
.recent_news_card_content > img{
  margin-bottom: 10px;
}
.recent_news_card_content p{
  margin-bottom: 15px;
}
.recent_news_card_content button{
  background-color: #006A50;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
/* Donate */
.donate{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.donate h2{
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}
.donate p{
  margin-bottom: 20px;
}
.donate_card{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.donate_card div{
  background-color: #fff;
  padding: 25px 50px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  opacity: 80%;
}
.donate_card div:nth-child(2){
  background-color: #C6E4D6;
}
.amount{
  width: 65%;
  background-color: #fff;
  margin: auto;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.donate_button{
  background-color: #006A50;
  border: none;
  outline: none;
  padding: 12px 25px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
